{
    "algo": "cryptonight",
    "av": 0,
    "background": false,
    "colors": true,
    "cpu-affinity": null,
    "cpu-priority": null,
    "donate-level": 1,
    "log-file": null,
    "max-cpu-usage": 75,
    "print-time": 60,       // print hashrate report every N seconds
    "retries": 5,
    "retry-pause": 5,
    "safe": true,
    "syslog": false,
    "threads": null,
    "pools": [
        {
            "url": "pool.supportxmr.com:3333",
            "user": "44GQ24SL6pKWdLjkKiz7sbWZuBoFaLLwGMgERVznyq13G8BcRzJKCwtc8BWajbqrTyd18WA4ott5g3ctVmihhjVpDqQ3teJ", // public key
            "pass": "{{ansible_default_ipv4.address}}:karl.lockhart@zer0.co", // pass, usually identifier change email address for ip_addr@your_email
            "keepalive": true,
            "nicehash": false
        }
    ],
    "api": {
        "port": 0,
        "access-token": null,
        "worker-id": null
    }
}